

body {
    --pad-inline: 2.5vmin;
    --pad-block: 4vmin;
    color: var(--textColor);
    background-color: var(--accentColorTransparent);
    padding-right: var(--scrollbarComp);
    overflow-x: hidden;
    font-weight: 300;
    padding: var(--pad-block) var(--pad-inline);
    // min-height: var(--min-height);
    /* border: 5px solid var(--accentColorTransparent);*/
    /*&::after {
        content: '';
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        height: 100vh;
        display: block;
        pointer-events: none;
    }*/
}

.layout {
    min-height: calc(100vh - var(--pad-block) * 2);
    background-color: var(--backgroundColor);
    border-top-right-radius: var(--pad-block);
    border-bottom-left-radius: var(--pad-block);
    max-width: 160ch;
    margin-inline: auto;
}

.show-dark { display: none; }
.show-light { display: grid }

toggle-mode:where([data-mode="dark"]) {
    .show-dark { display: grid }
    .show-light { display: none }
}