body {
    color: var(--textColor);
    background-color: var(--backgroundColor);
    padding-right: var(--scrollbarComp);
    overflow-x: hidden;
    font-weight: 300;
    min-height: var(--min-height);
    border: 5px solid var(--accentColor);
    /*&::after {
        content: '';
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        height: 100vh;
        display: block;
        pointer-events: none;
    }*/
}

.show-dark { display: none; }
.show-light { display: grid }

toggle-mode:where([data-mode="dark"]) {
    .show-dark { display: grid }
    .show-light { display: none }
}