body {
    color: var(--textColor);
    background-color: var(--backgroundColor);
    padding-right: var(--scrollbarComp);
    overflow-x: hidden;
    font-weight: 300;
}

.show-dark { display: none; }
.show-light { display: grid }

toggle-mode:where([data-mode="dark"]) {
    .show-dark { display: grid }
    .show-light { display: none }
}