/* Forms */
input[type="checkbox"],
input[type="radio"],
input[type="range"],
select,
progress {
	font-family: sans-serif;
    accent-color: var(--primaryColor);
}
/*
potential fix for select cross browser from andy ford
-webkit-appearance: none;
appearance: none;
border: var(--your-border-style-here-probably-same-as-your-inputs);
font-size: var(--your-font-size-style-here-probably-same-as-your-inputs);
color: var(--your-font-color-here-probably-same-as-your-inputs);
background-color: var(--your-border-background-here-probably-same-as-your-inputs);
border-radius: var(--may-or-may-not-need-this-but-probably-do-need-it);
*/