h1 {
    font-size: var(--fluid-4);
    margin-bottom: 0.5em;
    font-family: var(--ravioli);
    font-variation-settings: "WONK" 1, "SOFT" 20, "opsz" 104, "wght" 600;

    &:first-child {
        margin-top: 0;
    }
    + h2 {
        font-size: var(--fluid-1);
        font-family: var(--sans-subset);
    }

    &.main-title {
        font-size: var(--fluid-5);
    }
}

.fonts-loaded-2 h1 + h2 {
    font-family: var(--sans);
}

h2 {
    font-size: var(--fluid-3);
    margin-top: 1em;
    margin-bottom: 0.5em;
}

h3 {
    font-size: var(--fluid-3);
    margin-bottom: 1rem;
}
