// Sun Icon
.gg-sun {
    color: var(--backgroundColor);
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs, 1));
    width: 24px;
    height: 24px;
    background:
        linear-gradient(to bottom,
            currentColor 4px, transparent 0) no-repeat 5px -6px/2px 6px,
        linear-gradient(to bottom,
            currentColor 4px, transparent 0) no-repeat 5px 14px/2px 6px,
        linear-gradient(to bottom,
            currentColor 4px, transparent 0) no-repeat -8px 5px/6px 2px,
        linear-gradient(to bottom,
            currentColor 4px, transparent 0) no-repeat 14px 5px/6px 2px;
    border-radius: 100px;
    box-shadow: inset 0 0 0 2px;
    border: 6px solid transparent
}

.gg-sun::after,
.gg-sun::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 24px;
    height: 2px;
    border-right: 4px solid;
    border-left: 4px solid;
    left: -6px;
    top: 5px
}

.gg-sun::before {
    transform: rotate(-45deg)
}

.gg-sun::after {
    transform: rotate(45deg)
}

.gg-moon,
.gg-moon::after {
    display: block;
    box-sizing: border-box;
    border-radius: 50%
}

.gg-moon {
    color: var(--backgroundColor);
    overflow: hidden;
    position: relative;
    transform: rotate(-135deg) scale(var(--ggs, 1));
    width: 20px;
    height: 20px;
    border: 2px solid;
    border-bottom-color: transparent
}

.gg-moon::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 18px;
    border: 2px solid transparent;
    box-shadow: 0 0 0 2px;
    top: 8px;
    left: 2px
}

.rss-icon {
    --curve-width: 5px;
    --size: 75px;
    display: inline-block;
    height: var(--size);
    width: var(--size);
    border-top: var(--curve-width) solid;
    border-right: var(--curve-width) solid;
    border-top-right-radius: 500000rem;
    position: relative;
}

.rss-icon::before {
    width: calc(var(--size) * .65);
    height: calc(var(--size) * .65);
    content: '';
    border-top: var(--curve-width) solid;
    border-right: var(--curve-width) solid;
    display: block;
    position: absolute;
    bottom: 0;
    border-top-right-radius: 500000rem;
}

.rss-icon::after {
    width: calc(var(--size) * .325);
    height: calc(var(--size) * .325);
    position: absolute;
    bottom: 0;
    content: '';
    border-top: var(--curve-width) solid;
    border-right: var(--curve-width) solid;
    border-top-right-radius: 500000rem;
}

/** Maybe implement another time when the colors are figured out *
.star-icon {
    --size: 1em;
    width: var(--size);
    height: var(--size);
    background-color: var(--accentColorTransparent);
    position: relative;
    display: block;
    mix-blend-mode: darken;

    .corner {
        background-color: transparent;
        width: calc(var(--size) / 2 + 1px);
        height: calc(var(--size) / 2 + 1px);
        display: block;
        position: absolute;

        &.--top-left {
            top: -1px;
            left: -1px;
            border-bottom-right-radius: 50000rem;
        }
        &.--top-right {
            right: -1px;
            top: -1px;
            border-bottom-left-radius: 5000000rem;
        }
        &.--bottom-right {
            bottom: -1px;
            right: -1px;
            border-top-left-radius: 5000000rem;
        }
        &.--bottom-left {
            bottom: -1px;
            left: -1px;
            border-top-right-radius: 5000000rem;
        }
    }
}*/

.icon-link.icon-link:has(svg) {
    text-decoration: none;
}


