:root {
    --_textColor: #070901;
    --_primaryColor: #765df4;
    --_focusColor: #765df4;
    --_backgroundColor: #ffffff;
    --_complementColor: #e7c1fb;
    --_complementColorRGB: 231, 193, 251;
    --_accentColor: #7a10e5;
    --textColor: var(--_textColor);
    --primaryColor: var(--_primaryColor);
    --focusColor: var(--_focusColor);
    --backgroundColor: var(--_backgroundColor);
    --complementColor: var(--_complementColor);
    --complementColorRGB: var(--_complementColorRGB);
    --accentColor: var(--_accentColor);
}

:root[data-mode="dark"] {
    --_backgroundColor: #070901;
    --_textColor: #fcfef6;
    --_primaryColor: #240ba2;
    --_complementColor: #2a043e;
    --_complementColorRGB: 42, 4, 62;
    --_accentColor: #1f64ef;
}

:root[data-theme="blue"]:not([data-mode="dark"]) {
    --backgroundColor: #fdfdff;
    --primaryColor: #56A1EB;
    --focusColor: #56A1EB;
    --complementColor: #c4def8;
    --complementColorRGB: 196, 222, 248;
    --accentColor: #156ec6;
}

:root[data-theme="blue"][data-mode="dark"] {
    --primaryColor: #2887e6;
    --focusColor: #2887e6;
    --complementColor: #07213b;
    --complementColorRGB: 7, 33, 59;
    --accentColor: #2887E6;
}

:root[data-theme="red"]:not([data-mode="dark"]) {
    --backgroundColor: #FFFDFe;
    --primaryColor: #f88282;
    --focusColor: #f88282;
    --complementColor: #fbacac;
    --complementColorRGB: 251, 172, 172;
    --accentColor: #d00b0b;
}

:root[data-theme="red"][data-mode="dark"] {
    --primaryColor: #7d0707;
    --focusColor: #7d0707;
    --complementColor: #530404;
    --complementColorRGB: 83, 4, 4;
    --accentColor: #f42f2f;
}

:root[data-theme="green"]:not([data-mode="dark"]) {
    --textColor: #070901;
    --primaryColor: #1f624f;
    --focusColor: #3f8071;
    --backgroundColor: #daf3ec;
    --complementColor: #011d18;
    --accentColor: #1f624f;
}

:root[data-theme="green"][data-mode="dark"] {
    --textColor: #d8e7e4;
    --primaryColor: #240ba2;
    --focusColor: #765df4;
    --backgroundColor: #011d18;
    --complementColor: #6d7a76;
    --accentColor: #daf3ec;
}

:root[data-theme="arc"]:not([data-mode="dark"]) {
    --backgroundColor: var(--arc-palette-maxContrastColor, var(--_backgroundColor));
    --primaryColor: var(--arc-palette-cutoutColor, var(--_primaryColor));
    --complementColor: var(--arc-palette-background, var(--_complementColor));
    --focusColor: var(--arc-palette-focus, var(--_focusColor));
    --accentColor: var(--arc-palette-minContrastColor, var(--_accentColor));
    --complementColorRGB: var(--_complementColorRGB);
}

:root[data-theme="arc"][data-mode="dark"] {
    --backgroundColor: var(--arc-palette-background, var(--_backgroundColor));
    --textColor: var(--arc-palette-title, var(--_textColor));
    --complementColor: var(--arc-palette-subtitle, var(--_complementColor));
    --accentColor: var(--arc-palette-maxContrastColor, var(--_accentColor));
}