:root {
    --backgroundColor: #f6ecf9;
    --primaryColor: #86339f;
    --textColor:  #070901;
    --complementColor: #280f30;
    --focusColor: #9c59b1ce;
    --accentColor: #86339f;
    --accentColorTransparent: rgb(228 213 236);
}

:root:has([data-mode="dark"]) {
    --backgroundColor: #280f30;
    --textColor: #ece0f0;
    --complementColor: #7b767d;
    --accentColor: #f6ecf9;
    --accentColorTransparent: rgb(65 46 73);
}
:root:has([data-theme="blue"]):not(:has([data-mode="dark"])) {
    --backgroundColor: #e7f2f7;
    --primaryColor: #275e7a;
    --complementColor: #071c25;
    --focusColor: #477d94ce;
    --textColor: #071c25;
    --accentColor: #275e7a;
    --accentColorTransparent: rgb(209 222 229);
    /* --complementColorRGB: var(--_complementColorRGB);*/
}

:root:has([data-theme="blue"]):has([data-mode="dark"]) {
    --backgroundColor: #071c25;
    --textColor: #ebe7eb;
    --complementColor: #73797c;
    --accentColor: #e7f2f7;
    --accentColorTransparent: rgb(41 56 64);
}
:root:has([data-theme="red"]):not(:has([data-mode="dark"])) {
    --backgroundColor: #FBEBECFF;
    --primaryColor: #A72229FF;
    --complementColor: #31040BFF;
    --focusColor: #B53F4FCE;
    --textColor: #31040BFF;
    --accentColor: #A72229FF;
    --accentColorTransparent: rgb(229 198 198)
    /*--complementColorRGB: var(--_complementColorRGB);*/
}

:root:has([data-theme="red"]):has([data-mode="dark"]) {
    --backgroundColor: #31040BFF;
    --textColor: #F0DADEFF;
    --complementColor: #7E7676FF;
    --accentColor: #FBEBECFF;
    --accentColorTransparent: rgb(71 38 43)
}

:root:has([data-theme="green"]):not(:has([data-mode="dark"])) {
    --textColor: #070901;
    --primaryColor: #1f624f;
    --focusColor: #3f8071;
    --backgroundColor: #daf3ec;
    --complementColor: #011d18;
    --accentColor: #1f624f;
    --accentColorTransparent: rgb(200 223 216);
}

:root:has([data-theme="green"]):has([data-mode="dark"]) {
    --textColor: #d8e7e4;
    --primaryColor: #240ba2;
    --focusColor: #765df4;
    --backgroundColor: #011d18;
    --complementColor: #6d7a76;
    --accentColor: #daf3ec;
    --accentColorTransparent: rgb(37 56 52);
}

:root:has([data-theme="arc"]):not(:has([data-mode="dark"])) {
    --backgroundColor: var(--arc-palette-maxContrastColor);
    --primaryColor: var(--arc-palette-cutoutColor);
    --complementColor: var(--arc-palette-background);
    --focusColor: var(--arc-palette-focus);
    --textColor: var(--arc-palette-background);
    --accentColor: var(--arc-palette-minContrastColor);
    --accentColorTransparent: var(--arc-palette-focus);
    --complementColorRGB: var(--_complementColorRGB);
}

:root:has([data-theme="arc"]):has([data-mode="dark"]) {
    --backgroundColor: var(--arc-palette-background);
    --textColor: var(--arc-palette-title);
    --complementColor: var(--arc-palette-subtitle);
    --accentColor: var(--arc-palette-maxContrastColor);
    --accentColorTransparent: var(--arc-palette-focus);
}