{% edge "njk", page.url %}
    {#% set mode = eleventy.edge.cookies.mode | default('light') | escape | safe %#}
    <form action="/style/" method="POST">
        <input type="hidden" id="$toggleDarkModeSrc" name="src" value="{{ _ }}" />
        <input type="hidden" id="$toggleDarkModeInput" name="mode" value="{{ 'light' if mode === 'dark' else 'dark' }}" />
        <button 
            class="toggle-dark-mode" 
            id="$toggleDarkMode"
            data-mode="{{ eleventy.edge.cookies.mode | default('light') | escape | safe }}"
        >
            <span class="visually-hidden">Toggle dark mode</span>
            <span class="show-dark"><span class="gg-moon"></span></span>
            <span class="show-light"><span class="gg-sun"></span></span>
        </button>
    </form>
{% endedge %}