<header class="site-header" role="banner">
    
    <div class="site-header__container">
        <div class="site-header__left">
            <div class="site-brand">
                <div class="h-card">
                    <a href="{{ meta.url }}" rel="me">
                        {% serifName %}.wtf
                    </a>
                    <p class="visually-hidden p-note">
                        I am a <span class="p-gender-identity">trans</span> web developer that likes playing video games, writing, and building websites.
                    </p>
                </div>
            </div>
        </div>
        <div class="site-header__right">
            {% include "navigation.njk" %}
        </div>
    </div>
</header>
