<header class="site-header" role="banner">
    <div class="site-header__container">
        <div class="site-header__left">
            <div class="site-brand">
                <p><strong>ginger.wtf</strong></p>
                <div class="visually-hidden h-card">
                    <a href="{{ meta.url }}" rel="me">
                        Ginger
                    </a>
                    <p class="p-note">
                        I am a queer web developer that likes playing video games, writing, and building websites.
                    </p>
                </div>
            </div>
        </div>
        <div class="site-header__right">
            {% include "navigation.njk" %}
        </div>
    </div>
</header>
