<div>
    <div class="mb">
        <div class="mb-container">
            <div class="mb-inner">
            <div class="mb-smiley">
                <div class="mb-eye"></div>
                <div class="mb-eye"></div>
                <div class="mb-smile"></div>
            </div>
            <div class="mb-slogan">
                <small>coded by human</small>
                <strong>not by A<span>I</span></strong>
            </div>
            </div>
        </div>
		<span class="support-warning">If you are seeing this, it means your browser doesn't support container units yet</span>
    </div>
</div>