    {%- set absolutePageUrl -%}{{ page.url | url | absoluteUrl(meta.url) }}{%- endset -%}
    {%- set ogImageUrl = "https://v1.opengraph.11ty.dev/{{ meta.url | urlencode }}/opengraph/{{ page.url | urlencode }}/small" -%}
    <meta name="google-site-verification" content="urgSCv6XMTe_wjVzYAPxLK9NVyZnMcvZ5-c4iRntYaU" />

    {# Web Mentions #}
    <link rel="me" href="https://queer.party/@gingerchew" />
    <link rel="me authn" href="https://github.com/gingerchew" />
    <link rel="webmention" href="https://webmention.io/ginger.wtf/webmention" />

    {# General #}
    <meta name="description" content="{{ description or meta.description }}">
    <link rel="canonical" href="{{ absolutePageUrl }}">
    <meta name="author" content="{{ meta.author }}">
    <meta name="generator" content="{{ eleventy.generator }}">
    <link rel="icon" href="/assets/icons/ginger_wtf-favicon.png">

	<meta name="view-transition" content="same-origin" />

    {%- set schemaType -%}
        {%- if layout == 'post' %}BlogPosting{% else %}WebSite{% endif -%}
    {%- endset -%}

    {# Open Graph #}
    <meta property="og:site_name" content="{{ meta.title }}">
    <meta property="og:title" content="{{ title or meta.title }}">
    <meta property="og:description" content="{{ description or meta.description }}">
    <meta property="og:url" content="{{ absolutePageUrl }}">
    <meta property="og:locale" content="{{ meta.locale }}">
    <meta property="og:image" content= "https://v1.screenshot.11ty.dev/{{ meta.url | urlencode }}opengraph{{ page.url | urlencode }}/opengraph/_{{ page.title | getCacheBust }}_wait:2/">
    <meta property="og:type" content="image/png" />

    <meta name="twitter:title" content="{{ title or meta.title }}" />
    <meta name="twitter:description" content="{{ description or meta.description }}" />
    {% if layout == 'post' %}
    <meta name="twitter:card" content="summary_large_image" />
    {% else %}
    <meta name="twitter:card" content="summary" />
    {% endif %}
    <meta name="twitter:site" content="@gingercheww" />
    <meta name="twitter:creator" content="@gingercheww" />
    
    {# Favicon #}
    <!--link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/images/favicon/apple-touch-icon.png' | url }}">
    <link rel="icon" type="image/png" href="{{ '/assets/images/favicon/favicon-32x32.png' | url }}" sizes="32x32">
    <link rel="icon" type="image/png" href="{{ '/assets/images/favicon/favicon-16x16.png' | url }}" sizes="16x16">
    <link rel="shortcut icon" href="{{ '/assets/images/favicon/favicon.ico' | url }}">
    <link rel="manifest" href="{{ '/site.webmanifest' | url }}"-->
    
    <meta name="theme-color" content="#7134ff" id="$themeColor">

    {# RSS Feed #}
    <link type="application/atom+xml" rel="alternate" href="{{ meta.url }}feed.xml" title="{{ meta.title }}">
