<nav class="nav nav--primary" role="navigation" tabindex="-1">
{% edge "njk", page.url %}
    {% set mode = eleventy.edge.cookies.mode | default('light') | escape | safe %}
    <form action="/style/" method="POST" onchange="this.submit()">
        <input type="hidden" id="$toggleDarkModeSrc" name="src" value="{{ _ }}" />
        <input type="hidden" id="$toggleDarkModeInput" name="mode" value="{{ mode }}" />
        <button 
            class="toggle-dark-mode" 
            id="$toggleDarkMode"
            data-mode="light"
            onclick="$toggleDarkModeInput.value = {{ mode }} === 'light' ? 'dark' : 'light';umtc()"
        >
            <span class="visually-hidden">Toggle dark mode</span>
            <span class="show-dark"><span class="gg-moon"></span></span>
            <span class="show-light"><span class="gg-sun"></span></span>
        </button>
    </form>
{% endedge %}
    {# Nav Links  #}
    <ul class="nav__menu">

        
        {%- for item in collections.all | eleventyNavigation -%}
        
            {%- if item.url and item.order -%}
                {%- set isCurrent = (item.url == page.url) -%}
                {%- set isParent = item.url != '/' and item.url in page.url -%}
                <li class="nav__item{% if isCurrent or isParent %} nav__item--active{% endif %}">
                    <a class="nav__link" href="{% if isCurrent %}#main{% else %}{{ item.url | url }}{% endif %}" {% if isCurrent %} aria-current="page" {% endif %}>
                        {{ item.title }}
                    </a>
                </li>
            {%- endif -%}
        {%- endfor -%}
    </ul>
</nav>