<ol reversed class="postlist">
{% for post in postslist | reverse %}
  <li>
    <article class="postlist-item{% if post.url == url %} postlist-item-active{% endif %}">
      <a href="{{ post.url | url }}" class="postlist-link"><h2>{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</h2></a>
      {%- if post.data.subtitle %}
        <p class="postlist-subtitle">{{ post.data.subtitle }}</p>
      {% elif post.data.description %}
        <p class="postlist-subtitle">{{ post.data.description }}</p>
      {% endif %}
      <time class="postlist-date" datetime="{{ post.date | dateToFormat('yyyy-MM-dd') }}">{{ post.date | dateToFormat('dd LLL yyyy') }}</time>
      {% set tagslist = post.data.tags | filterTagList | slice(3) %}
      {% for tag in tagslist %}
        {% set tagUrl %}/tags/{{ tag | slug }}/{% endset %}
        {# If there isn't a tag, skip adding the html #}
        {% if tagUrl != '/tags//' %}
          <a href="{{ tagUrl | url }}" class="post-tag">
            <span>
              {{ tag }}
            </span>
          </a>
        {% endif %}
      {% endfor %}
    </article>
  </li>
{% endfor %}
</ol>
