{% set isFeatured = post.data.featured %}
{% set featuredLabels = [ 'Spicyyy!', 'Hot Dog!', 'Woah!', 'Read Me!', 'Yowza!', 'Featured', 'Oh Boy!', 'Gold Star!', 'Whoopee!'] %}
{% set variants = [0, 1, 2, 3] %}
<article class="postlist-item{% if isFeatured %} postlist-item-featured {% endif %}{% if post.url == url %} postlist-item-active{% endif %}">
    {% if ogImageUrl %}<a href="{{ ogImageUrl }}" target="_blank">See this pages open graph preview</a>{% endif %}
    <a href="{{ post.url | url }}" class="postlist-link">
        <h2>
            {% if post.data.title %}{{ post.data.title | safe }}
            {% else %}
                <code>{{ post.url }}</code>
            {% endif %}
        </h2>
        {%- if isFeatured -%}
        <featured-label class="featured-label featured-label-{{ variants | random }}" aria-hidden="true">
            {{- featuredLabels | random -}}
        </featured-label>
        {%- endif -%}
    </a>
    {%- if post.data.subtitle %}
        <p class="postlist-subtitle">{{ post.data.subtitle | safe }}</p>
    {% elif post.data.description %}
        <p class="postlist-subtitle">{{ post.data.description | safe }}</p>
    {% endif %}
    {% for tag in post.data.tags | filterTagList %}
        {% set tagUrl %}/tags/{{ tag | slug }}/{% endset %}
        {% if loop.index <= 3 and tagUrl != 'tags//' %}
            {# If there isn't a tag, skip adding the html #}
            <a href="{{ tagUrl | url }}" class="post-tag">
                <span>
                    {{ tag }}
                </span>
            </a>
        {% endif %}
    {% endfor %}
</article>