{% edge "njk", page.url %}
{% set themeColors = ['default', 'red', 'blue', 'green', 'arc'] %}
{% set theme = eleventy.edge.cookies.theme | default('default') | escape | safe %}
<theme-select data-theme="{{ theme }}">
    <label for="$themeSelect">Theme</label>
    <select id="$themeSelect">
        {% for color in themeColors %}
        <option value="{{ color }}" {% if theme == color %}selected{% endif %}>{{ color }}</option>
        {% endfor %}
    </select>
</theme-select>
{% endedge %}