.site-footer {
    &__container {
        position: relative;
        max-width: calc(var(--columnPaddingNormal)*2 + var(--layoutWidth));
        margin: 0 auto;
        padding: var(--columnPaddingNormal);

        display: block;

        @media(min-width: 60em) {
            padding: calc(2 * var(--columnPaddingNormal));
        }
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &--left {
            display: flex;
            flex-wrap: wrap;
            gap: 1.5ch;
            align-items: center;
            @media (min-width: 768px) {
                flex-wrap: nowrap;
            }
        }
    }

    a {
        font-weight: bold;
        text-decoration: underline;
        color: inherit;
    }
}
