.site-header {
    
    &__container {
        position: relative;
        container-type: inline-size;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        max-width: var(--container-max-width);
        margin: 0 auto;
        padding: 2rem 1rem; // fallback
        padding: clamp(var(--spacing-x-small), 4vw, var(--spacing-x-large)) clamp(var(--spacing-medium), 3.75vw, var(--spacing-x-large));
        @media (min-width: 768px) {
            flex-wrap: nowrap;
        }
    }

    .nav--primary {
        display: grid;
        grid-template-columns: 1fr min-content;
        column-gap: 2ch;
        justify-items: start;
        align-items: center;
        
        @media (min-width: 768px) {
            grid-template-columns: 1fr;
            align-items: center;
            justify-items: end;
        }
        ul {
            grid-column: 1;
            font-size: var(--fluid-1);
            margin: 0.75rem 0;
        }
        @media (max-width: 767.99999px) {
            ul, 
            .toggle-dark-mode {
                grid-row: 1;
            }
            ul {
                grid-column: 1;
            }
            .toggle-dark-mode {
                grid-column: 2;
            }
        }
        a {
            display: block;
            padding: 0.25em 0;
            transition: text-decoration-color 0.1s ease;
            &:hover {
                text-decoration-color: transparent;
            }
        }
    }

    &__right {
        position: relative;
    }
    @media (min-width: 768px) {
        nav {
            position: absolute;
            right: 0;
        }
    }
}

@media (max-width: 767.99999px) {
    .site-header-container {
        flex-wrap: wrap;
    }
    .site-header__right {
        width: 100%;

        .nav__menu {
            display: flex;
            gap: 1ch;
        }
    }
}

.site-brand {
    font-size: clamp(1rem, 3cqi, 3rem);
}
