
.postlist {
    max-width: 60ch;
    ol[class] {
        list-style-type: none;
        padding: 0;
    }
    p {
        margin: 0;
    }

    &.garden {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
}

.postlist-item {
    h2 {
        font-size: var(--fluid-2);
    }
    &:has(a + time) h2 {
        margin-bottom: 1rem;
    }
    &:has(.postlist-subtitle) h2 {
        margin-bottom: 0.5rem;
    }
    time,
    .post-tag {
        font-size: 0.95rem;
    }

    .postlist-link {
        text-decoration-color: transparent;
        &:hover {
            text-decoration-color: currentColor;
        }
    }
}

.post-tag {
    padding: 0.25ch 0.5ch;
    background-color: rgba(var(--accentColorRGB), 0.3);
    border-radius: 4px;
    min-width: 48px;
    min-height: 48px;
    display: inline-block;
}

