
.postlist {
    max-width: 60ch;
    ol[class] {
        list-style-type: none;
        padding: 0;
    }
    p {
        margin: 0;
    }

    &.garden {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
}

.postlist-item {
    h2 {
        font-size: var(--fluid-2);
    }
    &:has(a + time) h2 {
        margin-bottom: 1rem;
    }
    &:has(.postlist-subtitle) h2 {
        margin-bottom: 0.5rem;
    }
    time,
    .post-tag {
        font-size: 0.95rem;
    }

    .postlist-link {
        text-decoration-color: transparent;
        color: currentColor;
        &:hover {
            text-decoration-color: var(--accentColor);
        }
    }
}

.post-tag {
    min-width: 48px;
    min-height: 48px;
    display: inline flex;
    align-items: center;
    > span {
        background-color: var(--accentColorTransparent);
        border-radius: 4px;
        padding: 0.5ch 1ch;
    }
}

