/* -----------------------------------------------------------------------------
  This is the place for shameful CSS solutions. 
  (Also see: https://csswizardry.com/2013/04/shame-css/)
  
  Make sure to document all those nasty hacks with comments:
 
   1. What part of the codebase does it relate to?
   2. Why was this needed?
   3. How does this fix it?
   4. How might you fix it properly, given more time?
 
  ----------------------------------------------------------------------------- 
*/
.layout-about .direct-link {
  opacity: 0;
}

.layout-about :where(h1,h2,h3):hover .direct-link,
.layout-about .direct-link:is(:focus, :focus-visible) {
  opacity: 1;
}

.layout-base .container:has(> .post) {
  container: inline;
}
.layout-base .post {
  @media (min-width: 768px) {
    max-width: 70cqi;
  }
}

.utterances:not(:has( + .utterances)) {
  min-height: 270px;
}

made-by {
  display: block;
}
made-by .mb-container {
  height: 150px;
  container-type: size;
}
made-by .mb-inner {
  border-bottom-left-radius: 12.5cqi;
  border-top-right-radius: 12.5cqi;
  border: 1cqi solid black;
  display: grid;
  grid-template-columns: minmax(1cqi, 1fr) max-content;
  align-items: center;
  column-gap: 1rem;
  background-color: white;
  padding-block: 10cqb;
  padding-inline: 7.5cqi;
}

made-by .mb-smiley {
  --eye-size: 3cqi;
  border-radius: 500000rem;
  border: 1cqi solid black;
  container-type: inline;
  aspect-ratio: 1;
  display: grid;
  grid-template-columns: 1fr var(--eye-size) 1fr var(--eye-size) 1fr;
  grid-template-rows: 1fr min-content 1fr 2cqb 1fr;
}

made-by .mb-eye {
  background-color: black;
  border-radius: 10000000px;
  grid-row: 2;
  grid-column: 2 / span 1;
  height: var(--eye-size)
}

made-by .mb-eye + .mb-eye {
  grid-column: 4 / span 1;
}

made-by .mb-smile {
  height: min(1vmin, 5cqb);
  background-color: black;
  grid-row: 4;
  grid-column: 2 / -2;
}

made-by .mb-slogan {
  display: grid;
  grid-template-rows: min-content min-content;
  line-height: 0.95;
}

made-by .mb-slogan small {
  font-size: 7.3cqi;
  white-space: nowrap;
  letter-spacing: 1px;
}

made-by .mb-slogan strong {
  letter-spacing: 0.5px;
  font-size: 12.5cqi;
  font-weight: 900;
  white-space: nowrap;
}
made-by .mb-slogan span {
  font-family: monospace;
}
