/* -----------------------------------------------------------------------------
  This is the place for shameful CSS solutions. 
  (Also see: https://csswizardry.com/2013/04/shame-css/)
  
  Make sure to document all those nasty hacks with comments:
 
   1. What part of the codebase does it relate to?
   2. Why was this needed?
   3. How does this fix it?
   4. How might you fix it properly, given more time?
 
  ----------------------------------------------------------------------------- 
*/
.layout-about .direct-link {
  opacity: 0;
}

.layout-about :where(h1,h2,h3):hover .direct-link,
.layout-about .direct-link:is(:focus, :focus-visible) {
  opacity: 1;
}

.layout-base .container:has(> .post) {
  container: inline;
}
.layout-base .post {
  max-width: 70cqi;
}