@use 'sass:color';

:root {
    --textColor: #070901;
    --primaryColor: #765df4;
    --focusColor: #765df4;
    --backgroundColor: #ffffff;
    --complementColor: #e7c1fb;
    --complementColorRGB: 231, 193, 251;
    --accentColor: #1055e0;
}

// Very basic support for a dark color scheme
@media (prefers-color-scheme: dark) {
    :root {
        --color-mode: 'dark';
    }
    
    :root:not([data-user-color-scheme]) {
        // --backgroundColor: #000000;
        --backgroundColor: #070901;
        --textColor: #fcfef6;
        --primaryColor: #240ba2;
        --complementColor: #2a043e;
        --accentColor: #1f64ef;
    }
}
