---
layout: base
permalink: 404.html
eleventyExcludeFromCollections: true
---
<div class="container">
<h1>Not sure what you were looking for, but its not here...</h1>

<h2>Go <a href="{{ '/' | url }}">home</a>.</h2>
</div>