---
layout: base
excludeFromSitemap: true
---
{% for post in collections.all %}

    
{{ post.url }}
<a href="/opengraph{{ post.url }}"><iframe loading="lazy" width="1200" height="630" src="/opengraph{{ post.url }}"></iframe></a>
{% endfor %}