---
layout: base
eleventyNavigation:
    key: Home
    order: 1
---

<div class="container">
  
    <h1 class="main-title">Welcome!</h1>
    <div class="post">
        <h2>My name is ginger and this is my blog where I post thoughts, tutorials, <del>rants</del> opinions, and just general blog posts.</h2>
    </div>
</div>
