---
layout: base
eleventyNavigation:
    key: Home
    order: 1
---

<div class="container">
  
    <h1 class="main-title">Welcome!</h1>
    <div class="post">
        <p style="font-size: var(--fluid-1)">My name is {% serifName %} and this is my blog where I post thoughts, tutorials, <del>rants</del> opinions, and just general blog posts.</p>
    </div>
</div>
