---
layout: base
permalink: /posts/
eleventyNavigation:
  key: Posts
  order: 2
---

<div class="container postlist-wrapper">
    <h1 class="main-title">
      <span>Posts</span>
    </h1>
    {% set postslist = collections.posts %}
    {% include "postslist.njk" %}
</div>

