---
layout: base
permalink: /posts/
eleventyNavigation:
  key: Posts
  order: 2
---

<h1 class="main-title">
  <span>Posts</span>
</h1>
<div class="postlist-wrapper">
  {% set postslist = collections.posts | returnPublished %}
  {% include "postslist.njk" %}
</div>

