---
permalink: /public/robots.txt
eleventyExcludeFromCollections: true
---
# www.robotstxt.org

User-agent: *
Disallow: /build.txt

Sitemap: {{ meta.url }}/sitemap.xml

User-agent: GPTBot
Disallow: /
User-agent: ChatGPT-User
Disallow: /

User-agent: Google-Extended
Disallow: /

User-agent: CCBot
Disallow: /