---
permalink: /public/rss.xsl
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="iso-8859-1"?>
<xsl:stylesheet version="3.0"
xmlns:xsl="http://www.w3.org/1999/XSL/Transform"
xmlns:atom="https://www.w3.org/2005/Atom"
>
<xsl:template match="/">
<html>
  <head>
    <title><xsl:value-of select="/atom:feed/atom:title"/> RSS Feed</title>
  </head>
  <body>
    <div>
      <h1>Ginger</h1>
      <p>You are viewing an <acronym title="Really Simple Syndication">RSS</acronym> feed.  An RSS feed is a file
      allowing users a way to read updates to a website either through a third party RSS aggregator or other form of RSS
      syndication service.  You can find out more about the RSS file format at the
      <a href="http://en.wikipedia.org/wiki/RSS_(file_format)">Wikipedia RSS entry</a>.</p>
      <p>You may use the <acronym title="Uniform Resource Locater">URL</acronym> of this document for any RSS purposes.</p>
    </div>
    <div id="content">
      <xsl:for-each select="/atom:feed/atom:entry">
      <div class="article">
        <h2>
            <a href="{link}" rel="bookmark"><
            <xsl:attribute name="href">
                <xsl:value-of select="atom:link/@href"/>
            </xsl:attribute>
            <xls:valueof select="atom:title" />
            </a>
        </h2>
        <xsl:value-of select="description"/>
      </div>
      </xsl:for-each>
    </div>
  </body>
</html>
</xsl:template>
</xsl:stylesheet>