---
layout: base
permalink: /tags/
excludeFromSitemap: true
---
<div class="container tag-cloud">
    <h1 class="main-title">Cloud</h1>
    <div class="post">
        <ul class="tag-cloud">
        {% for tag in collections.posts | tagCloudIndex %}
            <li>
                <a href="/tags/{{ tag.tagName }}" class="post-tag">
                    <span>{{ tag.tagName }} ({{ tag.tagAmount }})</span>
                </a>
            </li>
        {% endfor %}
        </ul>
    </div>
</div>