---
layout: base
pagination:
    data: collections
    size: 1
    alias: tag
permalink: /tags/{{ tag }}/
---

<div class="container postlist-wrapper">
    <h1 class="main-title">Posts with tag: {{ tag }}</h1>
    {% set postslist = collections[tag] %}
    {% include "postslist.njk" %}
</div>

