---
layout: base
---
<div class="container">
    <div class="title-container">
        <h1 class="main-title">{{ title }}</h1>
    </div>
    <article class="post">
        {{ content | safe }}
    </article>
</div>