<!DOCTYPE html>
<html lang="{{ meta.lang }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ meta.title }}</title>
    {%- set cssVars %}
        {% include 'cssVars.njk' %}
    {% endset -%}
    <style>{{ cssVars | safe }}</style>
    {% include "meta.njk" %}

    <style>
		p {
			text-wrap: pretty;
		}
		:is(h1,h2,h3,.h1,.h2,.h3) {
			text-wrap: balance;
		}
	</style>
	<link rel="stylesheet" href="/assets/css/main.scss">
</head>
<body class="layout-{{layout}}">
    <a href="#main" class="skiplink">Skip to main content</a>
    {% poison %}
    <div class="layout" role="document">
        {% include "header.njk" %}
        <main id="main" class="main container" style="flex: 1;">
            {{ content | safe }}
        </main>
        {% include "footer.njk" %}
    </div>

    <script type="module" src="{{ '/assets/js/main.js' | url }}"></script>
    {% plausible %}
    {% if permalink == '404.html' %}
        {% plausible404 %}
    {% endif %}
</body>
</html>
