---
pagination:
    data: "collections.posts"
    size: 1
    alias: "post"
layout: og-base
permalink: "/opengraph{{ post.url }}"
eleventyComputed:
    sourceUrl: "{{ meta.url }}{{ post.url }}"
---
<!--
<div class="og-frame">
    <h1><span>{{ post.data.title }}</span></h1>
    <div class="attr">
    {% if post.data.subtitle %}
        <h2>{{ post.data.subtitle }}</h2>
    {% else %}
        <h2>{{ post.data.description }}</h2>
    {% endif %}
        <h3>by {% serifName %}
    </div>
</div>-->
<script type="module">
import "https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js";
import { createApp } from 'https://unpkg.com/petite-vue?module';

createApp({
  isSquare:false,
  editMode: false,
  get year() {
    return new Date().getFullYear();
  },
  mounted() {
    this.saveDown();
    //there's a weird bug with html2canvas where the layout isn't quite right the first time
    setTimeout( this.saveDown, 0 );
  },
  toggleEditMode() {
    if( this.editMode ) {
      this.editMode = false;
      setTimeout( this.saveDown, 0 );
    } else {
      this.editMode = true;
    }
  },
  saveDown() {
    const containerToRender = document.querySelector('.featured-image');
    html2canvas(
      containerToRender,
      { 
        allowTaint: true, 
        useCORS: true, 
        backgroundColor: "transparent",  
        width: containerToRender.offsetWidth, 
        height: containerToRender.offsetHeight,
      }
    ).then(canvas => {
      const previewArea = document.querySelector('.preview-area');
      previewArea.innerHTML = "";
      previewArea.appendChild(canvas);
    });
  },
  download() {
    const canvas = document.querySelector('.preview-area canvas');
    const link = document.createElement('a');
    link.setAttribute('download', 'featured.png');
    link.setAttribute('href', canvas.toDataURL("image/png").replace("image/png", "image/octet-stream"));
    link.click();
  }
}).mount();
</script>
<style>
    main {
        --gap: 3ch;
        padding: var(--gap)
    }
    h1 {
        color: white;
        grid-area: title;
        line-height: 1.2;
        margin-bottom: 0;
        container-type: inline-size;
    }
    h1 > span {
        font-size: var(--fluid-5);
        font-size: clamp(2.5rem, 7.5cqi, 4rem);
        background-color: var(--textColor);
        color: var(--backgroundColor);
        padding: 0.35ch 0.5ch;
        display: inline;
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;
    }
    h2 {
        font-size: var(--fluid-2);
        font-family: var(--sans);
        grid-area: subtitle;
        align-self: end;
    }
    .attr {
        grid-area: subtitle;
    }
    .og-frame {
        height: calc(100vh - var(--gap) * 2);
        display: grid;
        grid-template-columns: 1fr 1fr auto;
        grid-template-areas: 
            'title title title'
            'subtitle subtitle .';
        align-content: space-around;
        container-type: inline-size;
    }
</style>