---
layout: base
---
<div class="container h-entry">
    <div class="title-container">
        <a href="/posts/">Back</a>
        <h1 class="p-name">{{ title }}</h1>
        <a href="{{ page.url }}" class="u-url" aria-label="Published date and canonical url">Published: <time class="postlist-date dt-published" datetime="{{ date | dateToFormat('yyyy-MM-dd') }}">{{ date | dateToFormat('dd LLL yyyy') }}</time></span>
    </div>
    <a href="{{ meta.url }}" class="visually-hidden p-author h-card" rel="author">Ginger</a>
    <a href="{{ page.url }}" class="visually-hidden u-url">Permalink to this article</a>
    <span class="visually-hidden p-summary">
        {{ subtitle }}
    </span>
    <article class="post e-content">
        {{ content | safe }}
        <div class="utterances"></div>
        <script>
            new IntersectionObserver(([{ isIntersecting, target }], io) => {
                if (isIntersecting) {
                    const s = document.createElement('script');
                    s.setAttribute('repo', 'gingerchew/ginger.wtf-2024');
                    s.setAttribute('issue-term', '{{ id }}');
                    s.setAttribute('theme', 'preferred-color-scheme');
                    s.setAttribute('crossorigin', 'anonymous');
                    s.setAttribute('async', '');
                    target.insertAdjacentElement('afterend', s);
                    s.setAttribute('src',"https://utteranc.es/client.js");
                    io.disconnect();
                }
            }).observe(document.querySelector('.utterances'))
        </script>
    </article>
</div>